src/main/webapp/FullCanlendar/note.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.phpStudy.net"
xmlns="http://www.phpStudy.net"
elementFormDefault="qualified">

<xs:element name="roots">
    <xs:complexType>
      <xs:sequence>
		<xs:element name="event" minOccurs="0" maxOccurs="366" >
			<xs:complexType>
				<xs:attribute name="ID" type="xs:ID" />
				<xs:attribute name="title" type="xs:string" />
			</xs:complexType>
		</xs:element>
      </xs:sequence>
    </xs:complexType>
</xs:element>


</xs:schema>